#product-list{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 18rem;
}

.btn-primary{
    border-radius: 8px;
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 4px;
}