*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.menu-bar {
    width: 100%;
    padding: 15px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    height: 80px;
}

.bar-items {
    text-decoration: none;
    color: black;
    margin-left: 50px;
}
