*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.menu-bar {
    width: 70%;
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

#logo{
    height: 80px;
    margin-right: 25px;
}

.bar-items {
    font-size: x-large;
    font-weight: bolder;
    text-decoration: none;
    color: #00B09A;
    margin-right : 25px;
}

.icon{
    color: #00B09A;
    margin-left: 10px;
}
